/* styles/Sidebar.module.css */
/*
.sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #360505;
    padding: 20px;
  }
  
  .sidebar a {
    display: block;
    margin-bottom: 10px;
  }*/